 @font-face {
     font-family: "Hagrid-Italic-trial";
     src: url(Hagrid-Italic-trial.ttf);
 }

* {
box-sizing: border-box;}

main{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

body{
    background-color: white;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

nav {
    margin-top: 35px;
    top:0%;
    width: 100vw;
    display: flex;
    background-color: white;
    justify-content: space-between;
    border-style: solid;
    border-width:0 0 2px 0;
    border-color: black;
    padding-bottom: 10px;

    margin: none;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    width: 6%;

}
.nav2 {
    display:flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    margin: none;
    padding-right: 80px;
}
button{
    background-color: white;
    border-style: none; 
}
.buttons {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.bigbox{
    margin:0 80px;
}

.title0{
    font-family: 'Hagrid-Italic-trial';
    font-size: 105px;
    margin: 50px 0 0 0;

}
.fact0{
    font-family: 'Poppins', sans-serif;
    font-size: 41px;
    margin-top: 0;
    margin-left: 0px;
    margin-bottom: 50px;
}

.login{
    font-size: x-large;
}
.cart{
    font-size: x-large;
}

h2{
    font-family: 'Hagrid-Italic-trial';
    font-size: 42px;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
}

article.elephant1 {
    display: flex;
    position: relative;
    flex-direction: wrap;
    margin-bottom:290px;
}

div.elephant1{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 80px;
    margin-left: 90px;
    
}
div.number1{
    display: fixed;
    position: absolute;
    top: 60%;
    left: 31%;
    font-family: 'Poppins', sans-serif;
    color: #f8a835;
    font-size: 295px;
    font-weight: 900;
}
img.elephant1{
    display: block;
    position: relative;
    object-fit: contain;
    object-position: 0px;
    width: 800px;
}

article.giraffa{
    display: flex;
    position: relative;
    flex-direction: wrap;
    margin-bottom: 290px;
}

div.giraffa{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 80px;
}

img.giraffa{
    display:block;
    position: absolute;
    right: 0px;
    object-fit: cover;
    object-position: 0%;
    width: 50%;

}
div.number2{
    display: fixed;
    position: absolute;
    top: 51%;
    left: 45%;
    font-family: 'Poppins', sans-serif;
    color: #f8a835;
    font-size: 295px;
    font-weight: 900;
}
p.giraffa{
    width: 800px;
    font-size: 28px;
}

article.elephant2 {
    display: flex;
    position: relative;
    flex-direction: wrap;
    margin-bottom:290px;
}

div.elephant2{
    display: flex;
    flex-direction: column;
    justify-content: end;
    justify-content: flex-end;
    margin-top: 80px;
    margin-left: 250px;   
}

img.elephant2{
    width: 800px;
}

div.number3 {
    display: fixed;
    position: absolute;
    top: 65%;
    left: 27%;
    font-family: 'Poppins', sans-serif;
    color: #f8a835;
    font-size: 295px;
    font-weight: 900;
}

footer{
    display: flex;
    background-color: #cae7ed;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 400px;
}

h1.hirlevel{
    display:block;
    font-size: 32px;
}
p.hirlevel{
    font-size: 32px;
}

div.boxes {
    display: flex;
    margin-left: 810px;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 200px;
    width: 100vw;
}

button.subscribe{
    width: 250px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    height: 50px;
    font-size: 25px;
}

input[type="text"]{
    width: 250px;
    border-style: solid;
    border-color: black;
    border-width:0 0 2px 0;
    height: 50px;
    font-size: 22px;
    background-color: #cae7ed;
}

input[type="checkbox"] {
width: 100px;
}